/* Universal */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Nav Bar */
.navbar-brand {
    text-transform: uppercase;
}
.nav {
    text-transform: uppercase;
}

/* Home Specific */
.home-container {
    height: 100%;
    width: 100%;
    min-height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px) {
    .home-container {
        margin-top: 75px;
        margin-bottom: 75px;
        min-height: none;
    }
}

@media screen and (max-width:380px) {
    .home-container {
        margin-top: 100px;
        margin-bottom: 100px;
        min-height: none;
        vertical-align: none;
    }
}

.home-h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    margin: 25px;
}

@media screen and (max-width:768px) {
    .home-h2 {
        font-size: 8rem;
    }
}

@media screen and (max-width:380px) {
    .home-h2 {
        font-size: 5rem;
        padding-top: 25px;
    }
}

.home-paragraph {
    font-size: 1.3rem;
    padding: 20px;
}

@media screen and (max-width:768px) {
    .home-paragraph {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:380px) {
    .home-paragraph {
        font-size: 1.0rem;
    }
}

/* Sub Pages */
.jumbotron {
    height: 550px;
    background-image: url("../assets/tiffany-nutt-0ClfreiNppM-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-position: center;
}

@media screen and (max-width:768px) {
    .jumbotron {
        background-image: url("../assets/tiffany-nutt-0ClfreiNppM-unsplash-768x550.jpg");
    }
}

@media screen and (max-width:380px) {
    .jumbotron {
        background-image: url("../assets/tiffany-nutt-0ClfreiNppM-unsplash-380x750.jpg");
    }
}

.profile-image {
    border-radius: 150px;
    padding: 20px;
}

.display-4 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
}

@media screen and (max-width:768px) {
    .display-4 {
        font-size: 8rem;
    }
}

@media screen and (max-width:380px) {
    .display-4 {
        font-size: 5rem;
    }
}

.lead {
    font-size: 1.5rem;
}

@media screen and (max-width:768px){
    .lead {
        font-size: 1.2rem;
    }
}

.card {
    margin: 10px;
    border-color: transparent;
}

.btn {
    width: 125px;
    height: 40px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    border-radius: 0px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 75px;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

.form-row {
    margin-bottom: 20px;
    margin-left: 5px;
}

.form-control {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    border-radius: 0px;
}

.form-control:focus {
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
}